* {
    margin: 0;
    padding: 0;
}

.canva {
    background: #f7f5ff;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle {
    width: 90vmin;
    height: 90vmin;
    background: #e8e0ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.planet-bottom {
    position: relative;
    border: 0.5vmin solid black;
    width: 60vmin;
    height: 40vmin;
    border-radius: 50%;
    box-sizing: border-box;
    background: #4c4bb6;
    transform: rotate(-8deg);
}

.rings {
    position: relative;
    border: 0.5vmin solid black;
    width: 80vmin;
    height: 20vmin;
    border-radius: 50%;
    box-sizing: border-box;
    background: #c9d345;
    transform: translate(-10vmin, 10vmin) rotate(-8deg);
}

.planet-top {
    position: absolute;
    border: 0.5vmin solid black;
    width: 60vmin;
    height: 25vmin;
    border-bottom-left-radius: 50% 25%;
    border-bottom-right-radius: 50% 25%;
    border-top-right-radius: 50% 75%;
    border-top-left-radius: 50% 75%;
    box-sizing: border-box;
    background: #4c4bb6;
    transform: translate(0vmin, -20vmin) rotate(-8deg);
}
